ERPNEXT_VERSION=v16.30.0
CUSTOM_IMAGE=smartdiag504-erpnext-workshop
CUSTOM_TAG=16
PULL_POLICY=never
DB_PASSWORD=__GENERATE_AT_DEPLOY__
FRAPPE_SITE_NAME_HEADER=erp.nexusmedi.org
GUNICORN_WORKERS=3
GUNICORN_THREADS=4
GUNICORN_TIMEOUT=180
HTTP_PUBLISH_PORT=127.0.0.1:18080
