NODE_NAME=smartdiag-a
NODE_ROLE=A
NODE_PRIVATE_IP=10.20.0.11
PEER_PRIVATE_IP=10.20.0.12
WITNESS_PRIVATE_IP=10.20.0.13
VIP_ADDRESS=10.20.0.20/24
NETWORK_INTERFACE=eth1
VRRP_ROUTER_ID=54
VRRP_AUTH_PASSWORD=__GENERATE_8_CHARS__

ETCD_CLUSTER_TOKEN=smartdiag504-etcd-1
ETCD_A=http://10.20.0.11:2380
ETCD_B=http://10.20.0.12:2380
ETCD_WITNESS=http://10.20.0.13:2380
PATRONI_SCOPE=smartdiag504-postgres
POSTGRES_SUPERUSER_PASSWORD=__GENERATE__
POSTGRES_REPLICATION_PASSWORD=__GENERATE__
POSTGRES_APPLICATION_PASSWORD=__GENERATE__

GALERA_CLUSTER_NAME=smartdiag504-galera
GALERA_NODE_A=10.20.0.11
GALERA_NODE_B=10.20.0.12
GALERA_WITNESS=10.20.0.13
GALERA_ROOT_PASSWORD=__GENERATE__
GALERA_SST_PASSWORD=__GENERATE__
GALERA_BOOTSTRAP=0

# Required shared services
S3_ENDPOINT_URL=https://s3.example.com
S3_BUCKET=smartdiag-media
S3_ACCESS_KEY_ID=__GENERATE__
S3_SECRET_ACCESS_KEY=__GENERATE__
FRAPPE_SITES_MOUNT=/mnt/smartdiag-frappe-sites
RESTIC_REPOSITORY=s3:https://s3.example.com/smartdiag-backups
RESTIC_PASSWORD=__GENERATE__
