global
    log stdout format raw local0
    maxconn 4096

resolvers docker
    nameserver dns 127.0.0.11:53
    resolve_retries 3
    timeout resolve 1s
    timeout retry 1s
    hold valid 10s

defaults
    log global
    mode http
    option httplog
    option dontlognull
    timeout connect 5s
    timeout client 60s
    timeout server 60s
    timeout http-request 10s

frontend smartdiag_gateway
    bind *:8084
    acl is_api path_beg /api/ /media/
    acl is_operations path_beg /tallerv1/
    use_backend platform_api_nodes if is_api
    use_backend ops_web_nodes if is_operations
    default_backend public_web_nodes

frontend public_web
    bind *:8080
    default_backend public_web_nodes
backend public_web_nodes
    balance roundrobin
    option httpchk GET /healthz
    http-check expect status 200
    server public-a public-web-a:8080 check resolvers docker init-addr libc,none inter 3s fall 2 rise 2
    server public-b public-web-b:8080 check resolvers docker init-addr libc,none inter 3s fall 2 rise 2

frontend ops_web
    bind *:8081
    default_backend ops_web_nodes
backend ops_web_nodes
    balance roundrobin
    option httpchk GET /healthz
    http-check expect status 200
    server ops-a ops-web-a:8080 check resolvers docker init-addr libc,none inter 3s fall 2 rise 2
    server ops-b ops-web-b:8080 check resolvers docker init-addr libc,none inter 3s fall 2 rise 2

frontend platform_api
    bind *:8082
    default_backend platform_api_nodes
backend platform_api_nodes
    balance roundrobin
    option httpchk GET /ready
    http-check expect status 200
    server api-a platform-api-a:8000 check resolvers docker init-addr libc,none inter 3s fall 2 rise 2
    server api-b platform-api-b:8000 check resolvers docker init-addr libc,none inter 3s fall 2 rise 2

frontend ai_gateway
    bind *:8083
    default_backend ai_gateway_nodes
backend ai_gateway_nodes
    balance roundrobin
    option httpchk GET /ready
    http-check expect status 200
    server ai-a ai-gateway-a:8000 check resolvers docker init-addr libc,none inter 5s fall 2 rise 2
    server ai-b ai-gateway-b:8000 check resolvers docker init-addr libc,none inter 5s fall 2 rise 2

frontend frappe_erp
    bind *:8085
    default_backend frappe_erp_node
backend frappe_erp_node
    option httpchk GET /api/method/ping
    http-check expect status 200
    server frappe frappe-frontend:8080 check resolvers docker init-addr libc,none inter 3s fall 2 rise 2

listen stats
    bind 127.0.0.1:8404
    stats enable
    stats uri /stats
    stats refresh 5s
